.button-3d {
    display: inline-block;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 0 black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-3d:active {
    box-shadow: 0 0 0 black;
    transform: translate(1px, 1px);
}
