@using Microsoft.Extensions.Localization
@using Template.WebUI.Components
@using Template.WebUI.Components.LoginModal;
@using Template.WebUI.Shared.Themes

@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Header> Localizer

<header class="flex flex-row justify-between items-center w-full h-16 fixed top-0 left-0 bg-lightPrimary dark:text-white dark:bg-darkPrimary border-b-2 border-black dark:border-white font-tajawalRegular">

    @* Logo + Titre *@
    <div class="flex flex-row w-1/2 lg:w-1/4 gap-2 items-center ml-4">

        <a class="text-2xl" href="">Template</a>

    </div>

    @* Nav Desktop *@
    <div class="hidden lg:flex flex-row w-3/4 justify-end items-center">

        <nav class="flex flex-row gap-2 items-center">

            @* <LanguageSelector /> *@

            <button class="px-2 py-1 rounded"
                    @onclick="ToggleTheme">
                <i class="fa-solid fa-bolt text-blue-600 dark:text-white rounded"></i>
            </button>

        </nav>

        <AuthorizeView>
            <Authorized>
                <div class="mr-4 ml-2">
                    <a class="text-xl px-2 py-1 rounded block" href="/account">
                        @context.User.Identity.Name
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <button class="text-xl px-2 border-2 border-black dark:border-white rounded block mr-4 ml-2" @onclick="ShowLoginModal">
                    @Localizer["HeaderConnexion"]
                </button>
            </NotAuthorized>
        </AuthorizeView>

    </div>

    @* Login Icons smartphone *@
    <div class="flex flex-row lg:hidden">

        <div class="text-xl mr-2">

            <AuthorizeView>

                <Authorized>
                    <a class="text-xl font-bold hover:bg-blue-700 px-2 py-1 rounded block" href="/account">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </Authorized>

                <NotAuthorized>
                    <button class="text-xl font-bold hover:bg-blue-700 px-2 py-1 rounded block" @onclick="ShowLoginModal">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </NotAuthorized>

            </AuthorizeView>

        </div>

    </div>

</header>

<LoginModalNew @ref="_loginModal" />

@code {

    [CascadingParameter]
    public AppTheme ApplicationTheme { get; set; }

    private async Task ToggleTheme()
    {
        await ApplicationTheme.ToggleThemeAsync();
    }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    private LoginModalNew _loginModal;

    private void ShowLoginModal()
    {
        _loginModal.ToggleModal();
    }

}