@inherits LayoutComponentBase

@using Microsoft.Extensions.Localization
@using Template.WebUI.Shared.Themes;

@inject AppTheme ApplicationTheme

<PageTitle>Template.WebUI</PageTitle>

<CascadingValue Value="@ApplicationTheme">

    <div class="flex w-full h-screen">

        <Header />

        <main class="w-full mt-16 bg-lightPrimary dark:bg-lightTertiary">
            @Body
        </main>

    </div>

</CascadingValue>

@code {

    private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            await ApplicationTheme.InitializeThemeAsync();
            _initialized = true;
        }
    }

}