@if (_showModal)
{
    <div class="fixed z-10 inset-0 overflow-y-auto">

        <div class="flex items-center justify-center min-h-screen">
            <div class="fixed inset-0 bg-black opacity-30" @onclick="ToggleModal"></div>

            <div class="relative p-4 rounded-lg w-11/12 sm:max-w-lg mx-auto bg-white dark:bg-darkPrimary font-tajawalRegular border-2 border-black">

                <div class="flex space-x-1 rounded-lg p-2 mb-4">

                    <button @onclick="SetLoginTab"
                            class="@($"flex flex-row justify-center items-center gap-1 w-full rounded-l-lg py-2.5 text-sm font-medium leading-5 {GetTabButtonClasses("Login")}")">
                        <i class="fa-solid fa-arrow-right-to-bracket mr-1"></i>
                        <span class="text-xl">Connexion</span>
                    </button>

                    <button @onclick="SetSignUpTab"
                            class="@($"flex flex-row justify-center items-center gap-1 w-full rounded-r-lg py-2.5 text-sm font-medium leading-5 {GetTabButtonClasses("SignUp")}")">
                        <i class="fa-solid fa-user-plus mr-1"></i>
                        <span class="text-xl">Inscription</span>
                    </button>

                </div>

                @if (_currentTab == "Login")
                {
                    <LoginModalTab />
                }

                else if (_currentTab == "SignUp")
                {
                    <SignUpModalTab />
                }
            </div>
        </div>
    </div>
}

@code {

    private bool _showModal = false;
    private string _currentTab { get; set; } = "Login";

    private void SetLoginTab()
    {
        _currentTab = "Login";
    }

    private void SetSignUpTab()
    {
        _currentTab = "SignUp";
    }

    private string GetTabButtonClasses(string tab)
    {
        return _currentTab == tab
            ? "border-2 border-black bg-lightPrimary dark:bg-darkPrimary dark:border-lightPrimary text-black dark:text-white"
            : "border-2 border-black bg-lightPrimary dark:bg-darkPrimary dark:border-lightPrimary text-gray-500 dark:text-gray-400";
    }

    public void ToggleModal()
    {
        _showModal = !_showModal;
        StateHasChanged();
    }

}